/*
=========================================================================

common css design starts here

=========================================================================

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /* --custom-success-color: #198754; */
    /* --custom-primary-color: #B68C5A; */

  --custom-primary-color: #45A3D9;
    --custom-secondary-color: #5E7C84;
    --custom-light-secondary-color: #F3F3F3;
    --custom-login-and-hovers-color: #6f6f6f;
    /* --custom-light-hover-color: #cacaca; */
    --custom-light-hover-color: #e2e2e2;
    --custom-copyright-color: #676767;
    --twitter-brand-color: #1DA1F2;
    --youtube-brand-color: #FF0000;
    --instragram-brand-color: #fc1d00;
    --cus-dash-violent-color: #BB33F5;
    --cus-dash-activities-color: #FFEDD5;
    --cus-dash-activities-info-color: #FEF9C2;
}

.cus-primary-color{
    color: var(--custom-primary-color) !important;
}
.cus-bg-primary-color{
    background-color: var(--custom-primary-color) !important;
}
.cus-secondary-color{
    color: var(--custom-secondary-color) !important;
}
.cus-bg-secondary-color{
    background-color: var(--custom-secondary-color) !important;
}
.cus-light-secondary-color{
    color: var(--custom-light-secondary-color) !important;
}
.cus-bg-light-secondary-color{
    background-color: var(--custom-light-secondary-color) !important;
}
.cus-white{
    color: white !important;
}
.cus-bg-white{
    background-color: white !important;
}
.cus-light{
    color: var(--custom-light-hover-color) !important;
}
.cus-bg-light{
    background-color: var(--custom-light-hover-color) !important;
}
.cus-brand-twitter{
    color: var(--twitter-brand-color) !important;
}
.cus-brand-bg-twitter{
    background-color: var(--twitter-brand-color) !important;
}
.cus-brand-youtube{
    color: var(--youtube-brand-color) !important;
}
.cus-brand-bg-youtube{
    background-color: var(--youtube-brand-color) !important;
}
.cus-brand-instragram{
    color: var(--instragram-brand-color) !important;
}
.cus-brand-bg-instragram{
    background-color: var(--instragram-brand-color) !important;
}
.link-actived{
    background-color: var(--custom-primary-color) !important;
    color: white !important;
}
.cus-dash-violent{
    color: var(--cus-dash-violent-color) !important;
}
.cus-dash-bg-violent{
    background-color: var(--cus-dash-violent-color) !important;
}
.cus-activities-bg{
    background-color: var(--cus-dash-activities-color) !important;
}
.cus-activities-info-bg{
    background-color: var(--cus-dash-activities-info-color) !important;
}
.blog_scroll{
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}
.blog_scroll::-webkit-scrollbar{
    display: none;
}

.show_blogs{
    height: 250px;
    position: absolute;
    left: 50%;
    top: 156px;
}

/*
=========================================================================

common css design starts ends

=========================================================================

*/

/*
=========================================================================

navbar section design starts here

=========================================================================

*/

.nav_login_btn:hover{
    color: black !important;
    border: 1px solid var(--custom-primary-color);
    background-color: white !important;
    /* background-color: green !important; */
}

.cus-nav-link-hover:hover{
    color:  var(--custom-login-and-hovers-color)!important;
    /* color: grey !important; */
}

.hero_dahuk{
    margin-left: -138px;
}
.hero_desc{
    margin-left: auto;
       /* display: block !important; */
       text-align: left;
       /* margin-left: 237px; */
       margin-left: 314px;
}
.hero_get_started_btn:hover{
    background-color: black !important;
    color: white !important;
}


/*
=========================================================================

navbar section design ends here

=========================================================================

*/


/*
=========================================================================

hero-aria section design starts here

=========================================================================

*/

.hero-aria-section{
    
    /* background: url(./../img/banner_img.png); */
    background-repeat: no-repeat;
    background-position: center;
    
    /* background-size: 30vw; */
}


/*
=========================================================================

hero-aria section design ends here

=========================================================================

*/


/*
=========================================================================

catagory section design ends here

=========================================================================

*/

.catagory-navbar{
    height: auto;
}
.catagory-section-title{
    min-height: 150px;
}
.catagory-section-links{
    min-height: 50vh;
    height: auto;
    /* height: 50vh; */
}
.cata-li{
    transition: all linear 1000ms;
}
.cata-li:hover{
    /* background-color: var(--custom-light-hover-color) !important; */
    background-color: var(--custom-primary-color) !important;
    color: white !important;
    transition: all linear 150ms;
    /* transition: all ease-in 450ms; */
    /* color: white !important; */
}

/*
=========================================================================

catagory section design ends here

=========================================================================

*/

/*
=========================================================================

contents section design starts here

=========================================================================

*/

.contents{
    min-height: 20vw;
    background-color: var(--custom-light-secondary-color) !important;
}
.contents img{
    position: relative;
}

.back_img_content{
    height: 20vh;
    background: url(../img/company_table_look.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content-read-more-btn{
    border: 1px solid var(--custom-primary-color) !important;
}
.content-read-more-btn:hover{
    background-color: var(--custom-primary-color) !important;
    color: white !important;
}

.publisher_img{
    max-width: 50px !important;
    max-height: 50px !important;
    width: 80px !important;

}


/*
=========================================================================

contents section design ends here

=========================================================================

*/

/*
=========================================================================

contact section design starts here

=========================================================================

*/

.contact-section{
    height: auto;
}
.contact-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-border{
    border: 1px solid var(--custom-primary-color) !important;
}



/*
=========================================================================

contact section design ends here

=========================================================================

*/

/*
=========================================================================

footer section design starts here

=========================================================================

*/

.footer-container{
    height: auto;
}





/*
=========================================================================

footer section design ends here

=========================================================================

*/
/*
=========================================================================

copyright section design starts here

=========================================================================

*/

.copyright-section{
    height: auto ;
    background-color: var(--custom-copyright-color) !important;
}




/*
=========================================================================

copyright section design ends here

=========================================================================

*/


/*
=========================================================================

dashboard section design ends here

=========================================================================

*/




.dashboard-navbar{
    height: 100vh;
}
.dashboard-hover-link{
    /* height: 100vh; */
    transition: all linear 1000ms;
}
.dashboard-hover-link:hover{
    /* height: 100vh; */
    background-color: white ;
    color: black ;
    transition: all linear 450ms;
}
.dashboard-link-actived{
    color: white !important;
    
}
.dashboard-link-actived:hover{
    color: black !important;
    
}
.activities_img{
    border: 10px solid var(--custom-primary-color) !important;
    /* max-height: 80px;
    min-width: 70px; */

    border: 10px solid var(--custom-primary-color) !important;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
    /* border-radius: 80px;

    min-height: 40vh;
    min-width: 40vh;

    max-height: 40vh;
    max-width: 40vw;
    /* border-radius: 80px; */
    /* height: 10vh; */
}
.activities-user{
    border-right: 5px solid var(--custom-primary-color) !important;
    min-height: 50vh;
}

.add_blog_section{
    height: auto !important;
}
.blog_section_title{
    min-height: 10vh !important;
    
}





/*
=========================================================================

dashboard section design ends here

=========================================================================

*/


/*
=========================================================================

skeleton section design starts here

=========================================================================

*/

#preloader{
  
    height: 100vh !important;
    width: 100vw !important;
    /* display: none; */
}

.info-content{
    min-height: 20vh;
}
.content_box{
    min-height: 5vh !important;
}
.welcome-section{
    min-height: 6vh !important;
}


/*
=========================================================================

skeleton section design ends here

=========================================================================

*/
/*
=========================================================================

signup section design starts here

=========================================================================

*/


.signup_login_input{
    min-width: 25vw;
}



/*
=========================================================================

signup section design ends here

=========================================================================

*/

#article{
    min-height: 100vh !important;
}

.cke_editable {
    min-height: 50vh;  /* Set the desired height in pixels */
}
.cke_contents {
    min-height: 50vh;  /* Set the desired height in pixels */
}
.marker{
    background-color: yellow !important;
}


.logo_section{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.logo_section img{
    width: auto;
    height: 188px;
}