<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/assets/css/Homepage1.css"> -->
    <!-- <link rel="stylesheet" href="/assets/css/responsive.css"> -->
    <link rel="stylesheet" href="/assets/css/main.responsive.css">
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/fd4d75259d.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- main code section starts here -->
    <main>
        <div class="my-home-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-12 navbar-expand-md cus-bg-primary-color ">
                        <nav class="navbar d-block p-4">

                            <a class="navbar-brand " href="#">
                                <div id="" class="d-flex logo-section rounded fs-4">
                                    <div class="logo_part_1 ps-2 fw-bold bg-light cus-primary-color">D</div>
                                    <div class="logo_part_2 pe-2 bg-light">ahuk Forum</div>
                                </div>
                            </a>
                            <button class="navbar-toggler mt-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">




                                <ul class="fs-5 mt-4 dashboard-navbar">
                                    <li class="list-group   mb-4">
                                        <a href="" class="nav-link dashboard-hover-link p-2 rounded dashboard-link-actived ">
                                            <i class="fa-solid fa-house"></i>
                                            Publisher Home
                                        </a>
                                    </li>
                                    <li class="list-group mb-4 dashboard-hover-link p-2 rounded">
                                        <a href="" class="nav-link">
                                            <i class="fa-solid fa-square-plus"></i>
                                            Add Blog
                                        </a>
                                    </li>
                                    <li class="list-group mb-4 dashboard-hover-link p-2 rounded">
                                        <a href="" class="nav-link">
                                            <i class="fa-solid fa-list-check"></i>
                                            Manage Items
                                        </a>
                                    </li>
                                    <li class="list-group dashboard-hover-link p-2 rounded mb-4">
                                        <a href="" class="nav-link">
                                            <i class="fa-regular fa-newspaper"></i>
                                            All Blogs
                                        </a>
                                    </li>
                                    <div class="border border-light"></div>
                                    <li class="list-group dashboard-hover-link p-2 mt-4 rounded">
                                        <a href="" class="nav-link">
                                            <i class="fa-regular fa-newspaper"></i>
                                            View post
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </nav>
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="container">
                            <div class="content-section">
                                <div class="welcome-section fs-2 m-4">
                                    Hi, Protik, welcome back !
                                </div>
                                <div class="info-section">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12 cus-dash-bg-violent rounded-4 mt-4 border border-5 border-light">
                                            <div class="info-content p-4 text-center fs-4 text-light ">
                                                <div class="info-count">1000</div>
                                                <div class="info-name">Total Publish</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 cus-bg-primary-color rounded-4 mt-4 border border-5 border-light">
                                            <div class="info-content p-4 text-center fs-4 text-light ">
                                                <div class="info-count">1500</div>
                                                <div class="info-name">UI/UX Design</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 bg-danger rounded-4 mt-4 border border-5 border-light">
                                            <div class="info-content p-4 text-center fs-4 text-light ">
                                                <div class="info-count">1500</div>
                                                <div class="info-name">UI/UX Design</div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-3 col-sm-12 bg-primary rounded-4 mt-4 border border-5 border-light">
                                            <div class="info-content p-4 text-center fs-4 text-light ">
                                                <div class="info-count">1500</div>
                                                <div class="info-name">UI/UX Design</div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="activities-section m-auto">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 activities-user cus-activities-bg p-4 mt-4">
                                            <img src="/assets/img/man1.jpg" class="img-fluid activities_img rounded-circle d-flex m-auto" alt="">
                                            <div class="user_name fs-2 text-center mt-4 mb-4">
                                                Protik
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 cus-activities-info-bg mt-4 p-4">
                                            <div class="user_activities_info m-4">
                                                <div class="activities_title fs-2 ">
                                                    Your Activies
                                                </div>
                                                <div class="activities_content fs-5 mt-4">
                                                    <div class="content_box d-flex text-success">
                                                        <div class="section_content me-2 ">
                                                            <i class="fa-solid fa-star"></i>
                                                            Reviews:
                                                        </div>
                                                        <div class="section_content">2</div>
                                                    </div>
                                                    <div class="content_box d-flex text-warning">
                                                        <div class="section_content me-2 ">
                                                            <i class="fa-regular fa-clock"></i>
                                                            Read Time:
                                                        </div>
                                                        <div class="section_content">1</div>
                                                    </div>
                                                    <div class="content_box d-flex text-danger">
                                                        <div class="section_content me-2 ">
                                                            <i class="fa-solid fa-hand-holding-dollar"></i>
                                                            Total Donate:
                                                        </div>
                                                        <div class="section_content">3</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main code section ends here -->

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/assets/js/bootstrap.min.js"></script> -->
</body>

</html>