<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/assets/css/Homepage1.css"> -->
    <!-- <link rel="stylesheet" href="/assets/css/responsive.css"> -->
    <link rel="stylesheet" href="/assets/css/main.responsive.css">
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/fd4d75259d.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- main code section starts here -->
    <main>
        <!-- navbar section starts here -->
        <div class="container">
            <nav id="" class="navbar navbar-expand-lg  p-4">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <div id="" class="d-flex logo-section fs-4">
                            <div class="logo_part_1 fw-bold cus-primary-color">D</div>
                            <div class="logo_part_2">ahuk</div>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- id="navchilddiv2" -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul id="ulist" class="nav m-auto nav-sections">
                            <li class=""><a href=""
                                    class="nav-link text-dark ms-2 cus-nav-link-hover cus-primary-color ">Home</a> </li>
                            <li class=""><a href="" class="nav-link text-dark ms-2 cus-nav-link-hover  ">Dashboard</a>
                            </li>
                            <li class=""><a href="" class="nav-link text-dark ms-2 cus-nav-link-hover  ">Blogs</a> </li>
                            <li class=""><a href="" class="nav-link text-dark ms-2 cus-nav-link-hover  ">About</a> </li>
                            <li class="mb-2"><a href="" class="nav-link text-dark ms-2 cus-nav-link-hover  ">Contact
                                    Us</a>
                            </li>

                            <li><button id="button1" class="ms-4 nav_login_btn btn cus-bg-primary-color text-light">Log
                                    in</button></li>
                        </ul>
                    </div>
            </nav>
        </div>
        <!-- navbar section ends here -->


        <!-- hero-aria section starts here -->
        <div class="hero-aria-section container-fluid  cus-bg-secondary-color">

            <div class="row">
                <div class="col-md-6 col-sm-12 text-centder text-light pt-5 mt-4">
                    <div class="container m-4 p-4">
                        <div class="fs-3">Learn New Technology</div>
                        <div class="fs-1 fw-bold">Dahuk:</div>
                        <div class="fs-2 ">Fuel your passion and become a part of something extraordinary</div>
                        <div class="btn cus-bg-primary-color hero_get_started_btn text-light mt-4 btn-lg">Get Started
                        </div>
                    </div>
                    <!-- <div class="container r">
                        <p class="fs-3 text">Learn New Technology</p>
                        <h1 class="fs-1 fw-bold text-left hero_dahuk">Dahuk :</h1>
                        <div class="fs-3 hero_desc text-left">Fuel your passion,and become a part of something
                            extraordinary</div>

                        <button class="btn cus-bg-primary-color text-light text-left"
                            style="text-align: left !important;">Get Started</button>

                    </div> -->

                </div>
                <div class="col-md-6 col-sm-12">
                    <img src="/assets/img/banner_img.png" class="img-fluid mt-5" alt="">
                </div>
            </div>

        </div>
        <!-- hero-aria section ends here -->

        <!-- catagory section starts here -->

        <div class="container">
            <div class="catagory-section">
                <div class="row">
                    <div class="col-md-4 col-sm-12  catagory-navbar mt-4  text-light">
                        <div
                            class="catagory-section-title pt-4 fs-1  rounded-4 text-center cus-bg-primary-color mt-4 mb-4">
                            Catagories
                        </div>

                        <div class="catagory-section-links  cus-bg-light-secondary-color text-dark">
                            <div class="container">
                                <ul class="mt-4 mb-4 pt-4 pb-4">
                                    <li class="navbar m-2 bg-white cata-li link-actived"><a href=""
                                            class="nav-link m-auto p-4">ALL</a></li>
                                    <li class="navbar m-2 bg-white cata-li"><a href="" class="nav-link m-auto p-4">UI/UX
                                            DESIGN</a></li>
                                    <li class="navbar m-2 bg-white cata-li"><a href=""
                                            class="nav-link m-auto p-4">SOFTWARE ENGINEERING</a></li>
                                    <li class="navbar m-2 bg-white cata-li"><a href=""
                                            class="nav-link m-auto p-4">FRONTEND DEVELOPER</a></li>
                                    <li class="navbar m-2 bg-white cata-li"><a href=""
                                            class="nav-link m-auto p-4">BACKEND DEVELOPER</a></li>
                                    <li class="navbar m-2 bg-white cata-li"><a href="" class="nav-link m-auto p-4">FULL
                                            STACK DEVELOPER</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="container mt-4 mb-4 pt-4">
                            <div class="content-section">
                                <div class="row">
                                    <div class="col-12 contents mb-4 pb-4">
                                        <!-- img section starts here -->
                                        <!-- <img src="/assets/img/artical_book.jpg" class="img-fluid" alt=""> -->
                                        <!-- img section ends here -->
                                        <div class="post_info_section mt-4">
                                            <div class="person_details">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12 d-flex">
                                                        <div class="publisher_img mt-4 mb-4">
                                                            <img src="/assets/img/man1.jpg"
                                                                class="img-fluid publisher_img rounded-circle" alt="">

                                                        </div>
                                                        <div class="publisher_info mt-4 mb-4 ms-2">
                                                            <div class="publisher_name fw-bold ms-2">Protik</div>
                                                            <div class="published_time ms-2">MAR 14 (14 days ago)</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="read_time_section mt-4 text-dark text-end">5 min
                                                            read</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="back_img_content"></div>

                                        <div class="text-contents-title mt-4 fs-4 ">
                                            <p> Lorem ipsum dolor sit amet, consectetu/.....</p>
                                        </div>

                                        <div
                                            class="button-section btn  text-dark bg-light content-read-more-btn text-light">
                                            Read More</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- catagory section starts here -->

        <!-- contact section starts here -->

        <div class="container-fluid">
            <div class="contact-section cus-bg-light-secondary-color">
                <div class="contact-section-title text-center mt-4 pt-4">
                    <div class="contact-title fs-1">
                        Contact With Us
                    </div>

                    <div class="contact-title-desc">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in <br> some form, by injected humour.</p>
                    </div>
                </div>







                <div class="contact-section-contents">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 text-center">
                            <div class="  m-4 ">
                                <div class="row cus-bg-white">
                                    <div class="col-md-6 col-sm-12 container contact-border p-4">
                                        <i class="fa-solid fa-location-dot fs-2 mb-2" style="color: #b68c5a;"
                                            id="icon1"></i>
                                        <p class="paragraph5">Location</p>
                                        <p class="paragraph6">Datiara West</p>
                                        <p class="paragraph6">Brahmanbaria,Bangladesh</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 container contact-border p-4">
                                        <i class="fa-solid fa-phone fs-2 mb-2" style="color: #b68c5a;" id="icon2"></i>
                                        <p class="paragraph5">Call Us</p>
                                        <p class="paragraph6">+8801423659</p>
                                        <p class="paragraph6">+8801425454</p>
                                    </div>

                                </div>
                                <div class="row cus-bg-white">
                                    <div class="col-md-6 col-sm-12 container contact-border p-4">
                                        <i class="fa-regular fa-envelope fs-2 mb-2" style="color: #b68c5a;"
                                            id="icon3"></i>
                                        <p class="paragraph5">Email Us</p>
                                        <p class="paragraph6">info@gmail.com</p>
                                        <p class="paragraph6">info@gmail.com</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 container contact-border p-4">
                                        <i class="fa-regular fa-clock fs-2 mb-2" style="color: #b68c5a;" id="icon4"></i>
                                        <p class="paragraph5">Working Hours</p>
                                        <p class="paragraph6">Mon-Fri 9am to 5pm</p>
                                        <p class="paragraph6">Sunday 9am to 1pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="container mt-4">
                                <div class="contact-form">
                                    <div class="mb-3">
                                        <input type="text" name="name" id="" class="form-control"
                                            placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="contact-form">
                                    <div class="mb-3">
                                        <input type="email" name="email" id="" class="form-control"
                                            placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="contact-form">
                                    <div class="mb-3">
                                        <input type="text" name="name" id="" class="form-control" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="contact-form">
                                    <div class="mb-3">
                                        <textarea name="message" class="form-control" placeholder="Message" id=""
                                            cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit"
                                            class="btn cus-bg-primary-color hero_get_started_btn text-light">Send
                                            Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>






        <!-- contact section starts here -->



        <!-- footer section starts here -->
        <footer>
            <div class="container-fluid bg-dark footer-container">
                <div class="footer-section">
                    <div class="footer-brand-title  text-center pt-4">
                        <div id="" class="d-flex logo-section pt-4 fs-2 justify-content-center m-auto text-center">
                            <div class="logo_part_1 fw-bold cus-primary-color">D</div>
                            <div class="logo_part_2 cus-white">ahuk</div>
                        </div>
                    </div>
                    <div class="footer-nav-link-section mt-4">
                        <ul id="ulist" class="nav m-auto nav-sections justify-content-center">
                            <li class=""><a href=""
                                    class="nav-link text-light ms-2 cus-nav-link-hover cus-primary-color ">Home</a>
                            </li>
                            <li class=""><a href="" class="nav-link text-light ms-2 cus-nav-link-hover  ">Dashboard</a>
                            </li>
                            <li class=""><a href="" class="nav-link text-light ms-2 cus-nav-link-hover  ">Blogs</a>
                            </li>
                            <li class=""><a href="" class="nav-link text-light ms-2 cus-nav-link-hover  ">About</a>
                            </li>
                            <li class="mb-2"><a href="" class="nav-link text-light ms-2 cus-nav-link-hover  ">Contact
                                    Us</a>
                            </li>

                            <li><button id="button1" class="ms-4 nav_login_btn btn cus-bg-primary-color text-light">Log
                                    in</button></li>
                        </ul>
                    </div>
                    <div class="footer-brands-section mt-5 pt-4 pb-4">
                        <div class="container text-light mb-4 d-flex text-center justify-content-center">
                            <div class="facebook ms-4 me-4 rounded-circle bg-light text-primary text-center p-2">
                                <a href="" class="nav-link">
                                    <i class="fa-brands fa-facebook fs-2"></i>
                                </a>
                            </div>
                            <div class="twitter ms-4 me-4 rounded-circle bg-light cus-brand-twitter text-center p-2">
                                <a href="" class="nav-link">
                                    <i class="fa-brands fa-twitter fs-2"></i>
                                </a>
                            </div>
                            <div class="youtube ms-4 me-4 rounded-circle bg-light cus-brand-youtube text-center p-2">
                                <a href="" class="nav-link">
                                    <i class="fa-brands fa-youtube fs-2"></i>
                                </a>
                            </div>
                            <div class="instragram ms-4 me-4 rounded-circle bg-light cus-brand-instragram text-center p-2">
                                <a href="" class="nav-link">
                                    <i class="fa-brands fa-instagram fs-2"></i>
                                </a>
                            </div>




                            <!-- <div class="facebook"><i class="fa-brands fa-facebook"></i></div>
                                <div class="facebook"><i class="fa-brands fa-facebook"></i></div>
                                <div class="facebook"><i class="fa-brands fa-facebook"></i></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid copyright-section text-center ">
                <div class="copyright-text d-flex fs-6 text-light text-center fw-bold justify-content-center p-4 ">
                    Copyright &copy; Dahuk || All rights reserved
                </div>
            </div>
        </footer>
        <!-- footer section starts here -->



    </main>
    <!-- main code section ends here -->

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/assets/js/bootstrap.min.js"></script> -->
</body>

</html>